*
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    background-color: rgb(168, 166, 166);
}
.form
{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 5%;

}
#name
{
    size: "30";
}
.info
{
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-width: 5;
    margin-bottom: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 204, 204);
    border-radius: 10px;
}
#button
{
    background-color: rgb(76, 30, 163);
    color: white;
    border-radius: 10px;
    padding: 15px;
    border-style: none;
    margin-top: 20px;
}
#button-2
{
    background-color: rgb(21, 114, 151);
    color: white;
    border-radius: 10px;
    padding: 15px;
    border-style: none;
    margin-top: 20px;
}
#button:hover
{
    background-color: rgb(102, 67, 165);
}
#button-2:hover
{
    background-color: rgb(80, 151, 179);
}